#root{
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Mulish;


}

.navbar {
  width: 1440px;
  height: 96px;
  border-width: 1px;
  justify-content: space-between;
  padding-top: 12px;
  padding-right: 88px;
  padding-bottom: 12px;
  padding-left: 88px;
  opacity: 1;
  border: 1px solid;
  border-image-source: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) -37.66%, rgba(255, 255, 255, 0) 127.36%);
  box-shadow: 0px 0px 40px 0px #2424240D;
  display: flex;
}

.nav-left {
  width: 103.11111450195312;
  height: 72;
  gap: 8px;
  opacity: 1;
  padding: 8px;

}

.nav-logo {   
  width: 87.11111450195312;
  height: 56;
  opacity: 1;

}

.nav-links {
  display: flex;
  list-style: none;
  width: 377;
  height: 56;
  gap: 24px;
  opacity: 1;
  padding: 8px;

}

.nav-links li {
  cursor: pointer;
  transition: color 0.2s ease; 
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

}

.nav-links li:hover {
  color: #288855;
}


 
.apply-btn {
  background-color: #288855;
  color: white;
  padding: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
  height: 56px;
  width: 162px;
  gap:10px;
  margin-right: 220px;
}

.apply-btn:hover {
  opacity: 0.9;
}


@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }
}


.guide {
  display: flex;
  /* width: 542px; */
    height: 56px;
    padding-top: 16px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    gap: 4px;
    margin-left: 50px;
  
}

.guide button {
  color:#32A96A;
  border: none;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 127;
  height: 24;
  background: transparent;
  opacity: 1;
}

.arrow icon {
  width: 7.99500036239624;
  height: 8.5261869430542;
  top: 3.74px;
  left: 4px;
  opacity: 1;
}

.guide p lastP{
  color: #181818;
}

.homeWriteup {
  display: flex;
  width: 1440px;
  height: 507px;
  opacity: 1;
  padding-right: 120px;
  padding-left: 120px;
}

.writeUp {
  margin-top: 40px;
}

.writeUp h1 {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #181818;
}

.writeUp p{
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.homeImg {
  width: 480;
  height: 507;
  opacity: 1;
  border-radius: 10px;
  margin-left: 100px;
}

.homeBttn  {
  width: 151;
  height: 56;
  opacity: 1;
  gap: 12px;
  border-radius: 6px;
  padding: 16px;
  color: #288855;
  border: 1px solid #288855;
}

.arrowGreen{
  width: 24;
  height: 23.83708381652832;
  opacity: 1;
  border-width: 2px;
}

.overview {
  width: 1200;
  height: 376;
  opacity: 1;
  top: 839px;
  left: 120px;
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.overviewOne {
  width: 356;
  height: 304;
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 24px;

}

.overviewOne h6 {
  width: 356;
  height: 304;
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 4px;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #288855;
  background: #F6FDF9;
  border-left: 6px solid #F8B243;
  padding-left: 10px;

}

.overviewOne p {
 width: 356;
  height: 304;
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 4px;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #288855;
  padding-left: 10px;
}

.overviewTwo {
  width: 820;
  height: 376;
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 40px;
  gap: 40px;
}

.overviewTwo h2 {
  width: 780;
  height: 96;
  opacity: 1;
  gap: 4px;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
}

.overviewTwo p {
  width: 780;
  height: 136;
  opacity: 1;
  gap: 16px;
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0%;
}

.overviewBttn {
    background: #288855;
    width: 354px;
    height: 56px;
    opacity: 1;
    gap: 12px;
    border-radius: 6px;
    padding: 16px;
    color: #FFFFFF;
    font-family: Mulish;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

footer {
  display: flex;
  width: 1440;
  height: 96;
  justify-content: space-between;
  opacity: 1;
  padding-top: 12px;
  padding-right: 88px;
  padding-bottom: 12px;
  padding-left: 88px;
  border-width: 1px;
  background: #eee8e8;
  border: 1px solid;
  margin-top: 100px;
  border-image-source: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) -37.66%, rgba(255, 255, 255, 0) 127.36%);
  }

.footer-logo {
  width: 103.11111450195312;
  height: 72;
  opacity: 1;
  gap: 8px;
  padding: 8px;
}

.footer-links {
width: 369;
height: 24;
opacity: 1;
gap: 24px;
display: flex;
}

.footer-links li {
  list-style-type: none;
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #3F3F3F;
}

.footer para {
  width: 302;
  height: 40;
  opacity: 1;
  gap: 8px;
  padding: 8px;

}

.footer p {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;;
  line-height: 24px;
  letter-spacing: 0%;
  color: #3F3F3F;
}



















